#contentBody {
    display: grid;
    padding: 10px;
    border: 1px solid red;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1100px 200px;
}
#leftBlock {
    /* background-color: aqua; */
}
#centralBlock{
    background-color: bisque;
}

#rightBlock{
    background-color: blueviolet;
}

#footer{
    background-color: blue;
}
